
@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), 
    url('../fonts/sourcesanspro/sourcesanspro.woff2') format('woff2'), 
    url('../fonts/sourcesanspro/sourcesanspro.woff') format('woff'), 
    url('../fonts/sourcesanspro/sourcesanspro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), 
    url('../fonts/sourcesanspro/sourcesansprosemibold.woff2') format('woff2'), 
    url('../fonts/sourcesanspro/sourcesansprosemibold.woff') format('woff'), 
    url('../fonts/sourcesanspro/sourcesansprosemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), 
    url('../fonts/sourcesanspro/sourcesansprobold.woff2') format('woff2'), 
    url('../fonts/sourcesanspro/sourcesansprobold.woff') format('woff'), 
    url('../fonts/sourcesanspro/sourcesansprobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), 
    url('../fonts/roboto/Roboto.woff2') format('woff2'), 
    url('../fonts/roboto/Roboto.woff') format('woff'), 
    url('../fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}