@media screen and (max-width: 1600px) {
    .wrap {
        width: 90%;
    }
    .main-banner {
        width: 90%;
    }
    .brands {
        .brands-slider {
            width: 90%;
        }
    }
    
}
