body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

html {
    height: 100%;
}

@font-face {
    font-family: 'Source Sans Pro';
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("../fonts/sourcesanspro/sourcesanspro.woff2") format("woff2"), url("../fonts/sourcesanspro/sourcesanspro.woff") format("woff"), url("../fonts/sourcesanspro/sourcesanspro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url("../fonts/sourcesanspro/sourcesansprosemibold.woff2") format("woff2"), url("../fonts/sourcesanspro/sourcesansprosemibold.woff") format("woff"), url("../fonts/sourcesanspro/sourcesansprosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("../fonts/sourcesanspro/sourcesansprobold.woff2") format("woff2"), url("../fonts/sourcesanspro/sourcesansprobold.woff") format("woff"), url("../fonts/sourcesanspro/sourcesansprobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'Roboto';
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/Roboto.woff2") format("woff2"), url("../fonts/roboto/Roboto.woff") format("woff"), url("../fonts/roboto/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: red;
    font-family: 'Source Sans Pro';
    font-weight: 600;
}

.wrap {
    max-width: 1170px;
    width: 61%;
    margin: 0 auto;
}

.preheader {
    background-color: #EEEEEE;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 60px;
    font-family: "Roboto";
}

.preheader .wrap {
    display: flex;
    justify-content: space-between;
}

.preheader .menu {
    display: flex;
}

.preheader .menu li {
    margin-right: 20px;
}

.preheader a {
    color: #333333;
    text-decoration: none;
}

.preheader .active {
    color: #0EAE9E;
}

.preheader .options {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.preheader .sign-in img {
    margin-bottom: -5px;
    padding-left: 10px;
}

.preheader .lang {
    position: relative;
    cursor: pointer;
}

.preheader .lang img {
    padding-left: 13px;
    padding-bottom: 2px;
}

.preheader .lang:hover .lang-hidden {
    display: block;
}

.preheader .lang-hidden {
    position: absolute;
    display: none;
    border-top: 15px solid #EEEEEE;
    border-bottom: 15px solid #EEEEEE;
    border-radius: 15px;
    right: -7px;
    top: 67px;
}

.preheader .lang-hidden li {
    cursor: pointer;
    background-color: #fff;
    line-height: 30px;
    padding: 0 64px;
}

.preheader .lang-hidden li:hover {
    background-color: #0EAE9E;
    color: #FFFFFF;
}

.preheader .lang-hidden li:nth-of-type(2) {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.preheader .lang-hidden::before {
    content: "";
    position: absolute;
    height: 7px;
    width: 13px;
    background-image: url("../img/top-triangle.png");
    top: -22px;
    left: 80%;
}
