@import '_reset';
@import '_fonts';
body {
    background-color: rgb(202, 166, 166);
    font-family: 'Source Sans Pro';
    font-weight: 600;
}
.wrap {
    max-width: 1170px;
    width: 61%;
    margin: 0 auto;
}
.preheader {
    background-color: #EEEEEE;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 60px;
    font-family: "Roboto";
    .wrap {
        display: flex;
        justify-content: space-between;
    }
    .menu {
        display: flex;
        li {
            margin-right: 20px;
        }
    }
    a {
        color: #333333;
        text-decoration: none;
    }
    .active {
        color: #0EAE9E;;
    }
    .options {
        display: flex;
        justify-content: space-between;
        width: 200px;
    }
    .sign-in {
        img {
            margin-bottom: -5px;
            padding-left: 10px;
        }
    }
    .lang {
        position: relative;
        cursor: pointer;
        img {
            padding-left: 13px;
            padding-bottom: 2px;
        }
    }
    .lang:hover .lang-hidden {
        display: block;
    }
    .lang-hidden {
        position: absolute;
        display: none;
        border-top: 15px solid #EEEEEE;
        border-bottom: 15px solid #EEEEEE;
        border-radius: 15px;
        right: -7px;
        top: 67px;
        z-index: 2;
        li {
            cursor: pointer;
            background-color: #fff;
            line-height: 30px;
            padding: 0 64px;
        }
        li:hover {
            background-color: #0EAE9E;
            color: #FFFFFF;
        }
        li:nth-of-type(2) {
            border-top: 1px solid #EEEEEE;
            border-bottom: 1px solid #EEEEEE;
        }
    }
    .lang-hidden::before {
        content: "";
        position: absolute;
        height: 7px;
        width: 13px;
        background-image: url('../img/top-triangle.png');
        top:-22px;
        left: 80%;
    }
}

header {
    padding: 50px 0;
    .wrap {
        display: flex;
        justify-content: space-between;
    }
    form {
        max-width: 522px;
        width: 50%;
        height: 60px;
        position: relative;
    }
    input {
        width: 100%;
        height: 60px;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        border-radius: 30px;
        padding: 0 130px 0 20px;
        font-family: "Roboto";
        font-weight: normal;
        font-size: 12px;
        color: #333333;
        outline: none;
    }
    input::placeholder {
        font-family: "Roboto";
        font-weight: normal;
        font-size: 12px;
        color: #C4C4C4;
    }
    button {
        width: 119px;
        height: 60px;
        position: absolute;
        background: #FE4690;
        border-radius: 30px;
        border: none;
        right: 0;
        cursor: pointer;
        box-sizing: border-box;
        padding-left: 30px;
        font-family: 'Source Sans Pro';
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
        background-image: url('../img/search.svg');
        background-position: 20% 50%;
        background-repeat: no-repeat;
    }
    button:hover {
        background-color: #E21A91;
    }
    .header-tel {
        text-align: center;
        img {
            width: 40px;
            height: auto;
        }
        a {
            display: block;
            height: 40px;
            font-size: 21px;
            color: #333333;
            text-decoration: none;
        }
    }
    .header-cart {
        position: relative;
        cursor: pointer;
        p {
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: #FE4690;
            font-size: 21px;
            line-height: 30px;
            color: #FFFFFF;
            text-align: center;
            border-radius: 50%;
            top: 5px;
            right: -15px;
        }
        img {
            margin-top: 20px;
        }
    }
}

.category {
    padding-bottom: 20px;
    .wrap {
        display: flex;
        justify-content: space-between;
        width: 61%;
    }
    .category-tab {
        width: 19.64vw;
        height: 3.125vw;
        background-image: url('../img/category-tab.png');
        background-size: 100%;
        background-repeat: no-repeat;
        font-size: 1.1vw;
        line-height: 3.125vw;
        text-align: center;
        a {
            text-decoration: none;
            color: #0EAE9E;
        }
    }
    .category-tab:hover {
        background-image: url('../img/category-tab-hover.svg');
        a {
            color: #FFFFFF;
        }
    }
    
}

.main-banner {
    max-width: 1170px;
    width: 61%;
    margin: 0 auto;
    .slick-dots {
        bottom: 10px;
    }
    .slick-dots li img:nth-child(1) {
        display: block;
    }
    
    .slick-dots li img:nth-child(2) {
        display: none;
    }
    
    .slick-dots li.slick-active img:nth-child(1) {
        display: none;
    }
    
    .slick-dots li.slick-active img:nth-child(2) {
        display: block;
    }
    .banner-item {
        padding: 60px 0 50px 99px;
        background-image: url('../img/banner-bg.png');
        background-position: right;
        background-size: cover;
        border-radius: 30px;
        h3 {
            font-size: 21px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #828282;
        }
        h1 {
            font-weight: bold;
            font-size: 72px;
            line-height: 72px;
            letter-spacing: 0.05em;
            color: #0EAE9E;
            text-transform: uppercase;
            padding-top: 8px;
            padding-bottom: 20px;
        }
        a {
            display: block;
            margin-top: 85px;
            width: 278px;
            height: 60px;
            background: #FE4690;
            border-radius: 30px;
            text-align: center;
            box-sizing: border-box;
            font-size: 21px;
            line-height: 60px;
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}

.supreme {
    padding-top: 20px;
    padding-bottom: 80px;
    .wrap {
        background: #EEEEEE;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        padding: 25px 0;
    }
    .supreme-item {
        width: 30%;
        display: flex;
        justify-content: center;
        p {
            max-width: 220px;
            font-size: 16px;
            line-height: 1.5;
            color: #333333;
            align-self: center;
        }
    }
    .supreme-img {
        width: 79px;
        height: 79px;
        border-radius: 50%;
        border: 2px solid #0EAE9E;
        box-sizing: border-box;
        text-align: center;
        margin-right: 10px;
        img {
            margin-top: 50%;
            transform: translateY(-50%);
        }
    }
}





@import '_media';
