body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

html {
    height: 100%;
}

@font-face {
    font-family: 'Source Sans Pro';
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("../fonts/sourcesanspro/sourcesanspro.woff2") format("woff2"), url("../fonts/sourcesanspro/sourcesanspro.woff") format("woff"), url("../fonts/sourcesanspro/sourcesanspro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url("../fonts/sourcesanspro/sourcesansprosemibold.woff2") format("woff2"), url("../fonts/sourcesanspro/sourcesansprosemibold.woff") format("woff"), url("../fonts/sourcesanspro/sourcesansprosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("../fonts/sourcesanspro/sourcesansprobold.woff2") format("woff2"), url("../fonts/sourcesanspro/sourcesansprobold.woff") format("woff"), url("../fonts/sourcesanspro/sourcesansprobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'Roboto';
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/Roboto.woff2") format("woff2"), url("../fonts/roboto/Roboto.woff") format("woff"), url("../fonts/roboto/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #caa6a6;
    font-family: 'Source Sans Pro';
    font-weight: 600;
}

.wrap {
    max-width: 1170px;
    width: 61%;
    margin: 0 auto;
}

.preheader {
    background-color: #EEEEEE;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 60px;
    font-family: "Roboto";
}

.preheader .wrap {
    display: flex;
    justify-content: space-between;
}

.preheader .menu {
    display: flex;
}

.preheader .menu li {
    margin-right: 20px;
}

.preheader a {
    color: #333333;
    text-decoration: none;
}

.preheader .active {
    color: #0EAE9E;
}

.preheader .options {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.preheader .sign-in img {
    margin-bottom: -5px;
    padding-left: 10px;
}

.preheader .lang {
    position: relative;
    cursor: pointer;
}

.preheader .lang img {
    padding-left: 13px;
    padding-bottom: 2px;
}

.preheader .lang:hover .lang-hidden {
    display: block;
}

.preheader .lang-hidden {
    position: absolute;
    display: none;
    border-top: 15px solid #EEEEEE;
    border-bottom: 15px solid #EEEEEE;
    border-radius: 15px;
    right: -7px;
    top: 67px;
    z-index: 2;
}

.preheader .lang-hidden li {
    cursor: pointer;
    background-color: #fff;
    line-height: 30px;
    padding: 0 64px;
}

.preheader .lang-hidden li:hover {
    background-color: #0EAE9E;
    color: #FFFFFF;
}

.preheader .lang-hidden li:nth-of-type(2) {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.preheader .lang-hidden::before {
    content: "";
    position: absolute;
    height: 7px;
    width: 13px;
    background-image: url("../img/top-triangle.png");
    top: -22px;
    left: 80%;
}

header {
    padding: 50px 0;
}

header .wrap {
    display: flex;
    justify-content: space-between;
}

header form {
    max-width: 522px;
    width: 50%;
    height: 60px;
    position: relative;
}

header input {
    width: 100%;
    height: 60px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 0 130px 0 20px;
    font-family: "Roboto";
    font-weight: normal;
    font-size: 12px;
    color: #333333;
    outline: none;
}

header input::placeholder {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 12px;
    color: #C4C4C4;
}

header button {
    width: 119px;
    height: 60px;
    position: absolute;
    background: #FE4690;
    border-radius: 30px;
    border: none;
    right: 0;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 30px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background-image: url("../img/search.svg");
    background-position: 20% 50%;
    background-repeat: no-repeat;
}

header button:hover {
    background-color: #E21A91;
}

header .header-tel {
    text-align: center;
}

header .header-tel img {
    width: 40px;
    height: auto;
}

header .header-tel a {
    display: block;
    height: 40px;
    font-size: 21px;
    color: #333333;
    text-decoration: none;
}

header .header-cart {
    position: relative;
    cursor: pointer;
}

header .header-cart p {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #FE4690;
    font-size: 21px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 50%;
    top: 5px;
    right: -15px;
}

header .header-cart img {
    margin-top: 20px;
}

.category {
    padding-bottom: 20px;
}

.category .wrap {
    display: flex;
    justify-content: space-between;
    width: 61%;
}

.category .category-tab {
    width: 19.64vw;
    height: 3.125vw;
    background-image: url("../img/category-tab.png");
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 1.1vw;
    line-height: 3.125vw;
    text-align: center;
}

.category .category-tab a {
    text-decoration: none;
    color: #0EAE9E;
}

.category .category-tab:hover {
    background-image: url("../img/category-tab-hover.svg");
}

.category .category-tab:hover a {
    color: #FFFFFF;
}

.main-banner {
    max-width: 1170px;
    width: 61%;
    margin: 0 auto;
}

.main-banner .slick-dots {
    bottom: 10px;
}

.main-banner .slick-dots li img:nth-child(1) {
    display: block;
}

.main-banner .slick-dots li img:nth-child(2) {
    display: none;
}

.main-banner .slick-dots li.slick-active img:nth-child(1) {
    display: none;
}

.main-banner .slick-dots li.slick-active img:nth-child(2) {
    display: block;
}

.main-banner .banner-item {
    padding: 60px 0 50px 99px;
    background-image: url("../img/banner-bg.png");
    background-position: right;
    background-size: cover;
    border-radius: 30px;
}

.main-banner .banner-item h3 {
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #828282;
}

.main-banner .banner-item h1 {
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 0.05em;
    color: #0EAE9E;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 20px;
}

.main-banner .banner-item a {
    display: block;
    margin-top: 85px;
    width: 278px;
    height: 60px;
    background: #FE4690;
    border-radius: 30px;
    text-align: center;
    box-sizing: border-box;
    font-size: 21px;
    line-height: 60px;
    color: #FFFFFF;
    text-decoration: none;
}

.supreme {
    padding-top: 20px;
    padding-bottom: 80px;
}

.supreme .wrap {
    background: #EEEEEE;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}

.supreme .supreme-item {
    width: 30%;
    display: flex;
    justify-content: center;
}

.supreme .supreme-item p {
    max-width: 220px;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    align-self: center;
}

.supreme .supreme-img {
    width: 79px;
    height: 79px;
    border-radius: 50%;
    border: 2px solid #0EAE9E;
    box-sizing: border-box;
    text-align: center;
    margin-right: 10px;
}

.supreme .supreme-img img {
    margin-top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 1500px) {
    .wrap {
        width: 90%;
    }
}
